In [27]:
import geopandas as gpd

In [28]:
data = gpd.read_file("../data/raw/kolovai-trees.geojson")

In [29]:
data

,osm_id,name,barrier,highway,ref,address,is_in,place,man_made,other_tags,geometry
0,1800780107,Foui,None,None,None,None,None,village,None,"""population""=>""572""",POINT (-175.33934 -21.11242)
1,1800780108,Ha'avakatolo,None,None,None,None,None,village,None,"""population""=>""259""",POINT (-175.33955 -21.10729)
2,1800780109,Kolovai,None,None,None,None,None,village,None,"""population""=>""607""",POINT (-175.34009 -21.10043)
3,1800780110,'Ahau,None,None,None,None,None,hamlet,None,"""population""=>""200""",POINT (-175.33939 -21.09303)
4,1801649493,Liku’alofa Resort,None,None,None,None,None,None,None,"""tourism""=>""hotel""",POINT (-175.34445 -21.08154)
...,...,...,...,...,...,...,...,...,...,...,...
13656,5322704745,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.3482 -21.10243)
13657,5322704746,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34795 -21.1024)
13658,5322704747,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34785 -21.10233)
13659,5322704748,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34793 -21.10232)
13660,5322704749,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34797 -21.10235)

In [30]:
def string_to_dict(x):
    dict_ = {}
    pairs = x.split(',')
    for pair in pairs:
        if pair: 
            key, value = pair.split('=>')
            dict_[str(key.strip('"'))] = str(value.strip('"'))
    return dict_

In [31]:
data.dropna(subset=['other_tags'], inplace=True)

In [32]:
data['tags_dict'] = data['other_tags'].apply(string_to_dict)

In [33]:
data

,osm_id,name,barrier,highway,ref,address,is_in,place,man_made,other_tags,geometry,tags_dict
0,1800780107,Foui,None,None,None,None,None,village,None,"""population""=>""572""",POINT (-175.33934 -21.11242),{'population': '572'}
1,1800780108,Ha'avakatolo,None,None,None,None,None,village,None,"""population""=>""259""",POINT (-175.33955 -21.10729),{'population': '259'}
2,1800780109,Kolovai,None,None,None,None,None,village,None,"""population""=>""607""",POINT (-175.34009 -21.10043),{'population': '607'}
3,1800780110,'Ahau,None,None,None,None,None,hamlet,None,"""population""=>""200""",POINT (-175.33939 -21.09303),{'population': '200'}
4,1801649493,Liku’alofa Resort,None,None,None,None,None,None,None,"""tourism""=>""hotel""",POINT (-175.34445 -21.08154),{'tourism': 'hotel'}
...,...,...,...,...,...,...,...,...,...,...,...,...
13656,5322704745,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.3482 -21.10243),"{'natural': 'tree', 'species': 'Cocos nucifera'}"
13657,5322704746,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34795 -21.1024),"{'natural': 'tree', 'species': 'Cocos nucifera'}"
13658,5322704747,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34785 -21.10233),"{'natural': 'tree', 'species': 'Cocos nucifera'}"
13659,5322704748,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34793 -21.10232),"{'natural': 'tree', 'species': 'Cocos nucifera'}"
13660,5322704749,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34797 -21.10235),"{'natural': 'tree', 'species': 'Cocos nucifera'}"

In [34]:
data['natural'] = data['tags_dict'].apply(lambda x: x.get('natural', None))
data['species'] = data['tags_dict'].apply(lambda x: x.get('species', None))

In [35]:
data

,osm_id,name,barrier,highway,ref,address,is_in,place,man_made,other_tags,geometry,tags_dict,natural,species
0,1800780107,Foui,None,None,None,None,None,village,None,"""population""=>""572""",POINT (-175.33934 -21.11242),{'population': '572'},None,None
1,1800780108,Ha'avakatolo,None,None,None,None,None,village,None,"""population""=>""259""",POINT (-175.33955 -21.10729),{'population': '259'},None,None
2,1800780109,Kolovai,None,None,None,None,None,village,None,"""population""=>""607""",POINT (-175.34009 -21.10043),{'population': '607'},None,None
3,1800780110,'Ahau,None,None,None,None,None,hamlet,None,"""population""=>""200""",POINT (-175.33939 -21.09303),{'population': '200'},None,None
4,1801649493,Liku’alofa Resort,None,None,None,None,None,None,None,"""tourism""=>""hotel""",POINT (-175.34445 -21.08154),{'tourism': 'hotel'},None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13656,5322704745,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.3482 -21.10243),"{'natural': 'tree', 'species': 'Cocos nucifera'}",tree,Cocos nucifera
13657,5322704746,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34795 -21.1024),"{'natural': 'tree', 'species': 'Cocos nucifera'}",tree,Cocos nucifera
13658,5322704747,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34785 -21.10233),"{'natural': 'tree', 'species': 'Cocos nucifera'}",tree,Cocos nucifera
13659,5322704748,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34793 -21.10232),"{'natural': 'tree', 'species': 'Cocos nucifera'}",tree,Cocos nucifera
13660,5322704749,None,None,None,None,None,None,None,None,"""natural""=>""tree"",""species""=>""Cocos nucifera""",POINT (-175.34797 -21.10235),"{'natural': 'tree', 'species': 'Cocos nucifera'}",tree,Cocos nucifera

In [36]:
data['natural'].value_counts()

natural
tree    13475
Name: count, dtype: int64

In [37]:
data['species'].value_counts()

species
Cocos nucifera         6127
cocos nucifera         3707
Cocos nucifera L.       242
Mangifera indica        167
Musa                    111
Mangifera indica L.      94
Carica papaya            89
Musaceae                 70
Cocos c                  15
Carica tree               8
Cocus nucifera            1
Name: count, dtype: int64

In [38]:
mapping = {'Mangifera indica':'Mango',
           'Mangifera indica L.':'Mango',
           'Cocos nucifera':'Coconut',
           'Cocus nucifera':'Coconut',
           'cocos nucifera':'Coconut',
           'Cocos nucifera L.': 'Coconut',
           'Cocos c':'Coconut',
           'Carica tree':'Papaya',
           'Carica papaya':'Papaya',
           'Musaceae':'Banana',
           'Musa':'Banana',}

In [39]:
len(mapping.keys())

11

In [40]:
data['species_mapped'] = data['species'].map(mapping)

In [41]:
data['species_mapped'].value_counts()

species_mapped
Coconut    10092
Mango        261
Banana       181
Papaya        97
Name: count, dtype: int64

In [42]:
data.columns

Index(['osm_id', 'name', 'barrier', 'highway', 'ref', 'address', 'is_in',
       'place', 'man_made', 'other_tags', 'geometry', 'tags_dict', 'natural',
       'species', 'species_mapped'],
      dtype='object')

In [43]:
data = data[['osm_id', 'natural', 'species', 'species_mapped','geometry']]

In [44]:
data

,osm_id,natural,species,species_mapped,geometry
0,1800780107,None,None,NaN,POINT (-175.33934 -21.11242)
1,1800780108,None,None,NaN,POINT (-175.33955 -21.10729)
2,1800780109,None,None,NaN,POINT (-175.34009 -21.10043)
3,1800780110,None,None,NaN,POINT (-175.33939 -21.09303)
4,1801649493,None,None,NaN,POINT (-175.34445 -21.08154)
...,...,...,...,...,...
13656,5322704745,tree,Cocos nucifera,Coconut,POINT (-175.3482 -21.10243)
13657,5322704746,tree,Cocos nucifera,Coconut,POINT (-175.34795 -21.1024)
13658,5322704747,tree,Cocos nucifera,Coconut,POINT (-175.34785 -21.10233)
13659,5322704748,tree,Cocos nucifera,Coconut,POINT (-175.34793 -21.10232)
13660,5322704749,tree,Cocos nucifera,Coconut,POINT (-175.34797 -21.10235)

In [45]:
data.dropna(subset=['species_mapped'], inplace=True)

/tmp/ipykernel_527074/1092629089.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.dropna(subset=['species_mapped'], inplace=True)

In [46]:
data

,osm_id,natural,species,species_mapped,geometry
8,5269771172,tree,Mangifera indica,Mango,POINT (-175.33837 -21.08781)
9,5269771173,tree,Mangifera indica,Mango,POINT (-175.33866 -21.08826)
10,5269771174,tree,Mangifera indica,Mango,POINT (-175.33863 -21.08808)
11,5269771175,tree,Mangifera indica,Mango,POINT (-175.3386 -21.08879)
12,5269771176,tree,Mangifera indica,Mango,POINT (-175.33854 -21.08948)
...,...,...,...,...,...
13656,5322704745,tree,Cocos nucifera,Coconut,POINT (-175.3482 -21.10243)
13657,5322704746,tree,Cocos nucifera,Coconut,POINT (-175.34795 -21.1024)
13658,5322704747,tree,Cocos nucifera,Coconut,POINT (-175.34785 -21.10233)
13659,5322704748,tree,Cocos nucifera,Coconut,POINT (-175.34793 -21.10232)
13660,5322704749,tree,Cocos nucifera,Coconut,POINT (-175.34797 -21.10235)

In [47]:
data['species_mapped'].value_counts()

species_mapped
Coconut    10092
Mango        261
Banana       181
Papaya        97
Name: count, dtype: int64

In [48]:
data.to_crs(epsg=3857, inplace=True)

/home/krschap/academia/dl4cv-object-detection-on-aerial-imagery/.venv/lib/python3.13/site-packages/geopandas/geodataframe.py:1969: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  super().__setitem__(key, value)

In [49]:
from shapely.geometry import box

buffered_gdf = data.copy()

buffered_gdf["lon"] = buffered_gdf.geometry.x
buffered_gdf["lat"] = buffered_gdf.geometry.y


buffered_gdf['geometry'] = buffered_gdf['geometry'].buffer(3) # 3 meters buffer 


buffered_gdf["geometry"] = buffered_gdf.geometry.apply(
    lambda g: box(*g.bounds)
)

In [50]:
data.to_file("../data/raw/kolovai-trees-cleaned.geojson", driver='GeoJSON')

In [51]:
data

,osm_id,natural,species,species_mapped,geometry
8,5269771172,tree,Mangifera indica,Mango,POINT (-19518578.399 -2402352.495)
9,5269771173,tree,Mangifera indica,Mango,POINT (-19518610.203 -2402405.492)
10,5269771174,tree,Mangifera indica,Mango,POINT (-19518606.763 -2402384.303)
11,5269771175,tree,Mangifera indica,Mango,POINT (-19518604.08 -2402468.5)
12,5269771176,tree,Mangifera indica,Mango,POINT (-19518596.622 -2402551.803)
...,...,...,...,...,...
13656,5322704745,tree,Cocos nucifera,Coconut,POINT (-19519671.812 -2404096.661)
13657,5322704746,tree,Cocos nucifera,Coconut,POINT (-19519644.94 -2404092.64)
13658,5322704747,tree,Cocos nucifera,Coconut,POINT (-19519632.995 -2404083.977)
13659,5322704748,tree,Cocos nucifera,Coconut,POINT (-19519642.246 -2404083.226)
13660,5322704749,tree,Cocos nucifera,Coconut,POINT (-19519647.177 -2404086.817)

In [52]:
buffered_gdf.to_file("../data/trees_box.geojson", driver='GeoJSON')